<div class="app-main-content">
    <div class="app-container">
      <div class="app-toolbar">
        <div class="card card-content">
          <div class="card-main-header">
            <img src="/assets/images/list-icon.png" />
            <span class="card-main-title">DANH SÁCH TRẠM KIỂM SOÁT</span>
          </div>
          <div class="row full-width">
            <h5 class="title">Tìm kiếm</h5>
            <div class="card card-content-design">
              <div class="main-toolbar">
                <div class="row">
                  <div class="col-sm-11 p-n custom-btn-toolbar" style="padding-right: 5px !important">
                    <!-- Tiêu đề nội dung  -->
                    <div class="form-group mgl-1">
                      <div class="e-float-input">
                        <input class="searchText" type="text" id="text" name="text"
                          [placeholder]="'Nhập tên trạm'" [(ngModel)]="search.checkpoint_name"
                          [ngModelOptions]="{ standalone: true }" (keypress)="searchListEnter($event)" />
                        <label class="e-float-text" for="text">Tên trạm kiểm soát</label>
                      </div>
                    </div>
                    <!-- Button Tìm kiếm -->
                  </div>
                  <div class="col-sm-1 p-n">
                    <div class="form-group">
                      <div class="e-float-input m-t-0 bg">
                        <button class="btn btn-search" (click)="getListData()">
                          Tìm kiếm
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row full-width">
            <div class="col-sm-12 main-toolbar">
              <button id="add" class="btn-action {{ itemButton.iconColorClass }}" (click)="clickToolbar(itemButton)"
                *ngFor="let itemButton of toolbar" [disabled]="itemButton.isDisable === true">
                <span><i class="fa {{ itemButton.prefixIcon }}"></i></span>
                <span class="text-center">{{ itemButton.text }}</span>
              </button>
            </div>
          </div>
          <div class="card-main-content">
            <div class="list-grid">
              <ejs-grid #overviewgrid id="overviewgrid" [dataSource]="data | async" rowHeight="45" headerHeight="52"
                [allowPaging]="true" [pageSettings]="configs.pageSettings" [enableHover]="true"
                [height]="configs.height()"  allowResizing="true" [locale]="configs.currentLang"
                [allowSelection]="true"  [selectionSettings]="configs.selectionSettings"
                 (dataStateChange)="dataStateChange($event)"
                [filterSettings]="configs.filterSettings" [editSettings]="configs.editSettings"
                (rowSelecting)="setButtonStatus($event)" (rowDeselecting)="setButtonStatus($event)" [allowTextWrap]="true"
                [textWrapSettings]="configs.wrapSettings">
                <e-columns>
                  <e-column field="id"  [visible]="false" headerText="ID" width="130"
                    [isPrimaryKey]="true" ></e-column>
                  <e-column headerTextAlign="Center" textAlign="Center" headerText="STT" 
                    width="45">
                    <ng-template #template let-data>
                      <span>{{ formatStt(data.index) }}</span>
                    </ng-template>
                  </e-column>
                  <e-column field="checkpoint_name" textAlign="Left" headerTextAlign="Center" headerText="Tên trạm kiểm soát" width="250">
                  </e-column>
                  <e-column field="location" textAlign="Left" headerTextAlign="Center" headerText="Vị trí" width="180">
                  </e-column>
                  <e-column field="client_address_ip" textAlign="Left" headerTextAlign="Center" headerText="Địa chỉ IP" width="180">
                </e-column>

                  <e-column field="note" textAlign="Left" clipMode="EllipsisWithTooltip" headerTextAlign="Center"
                    headerText="Ghi chú" width="250">
                  </e-column>

                  <e-column field="tools" textAlign="Left" headerTextAlign="Center" headerText="Thao tác"
                    headerTextAlign="Center" width="100">
                    <ng-template #template let-data>
                      <div class="row">
                        <div class="col-sm-12 custom-tools">

                          
                          <ejs-tooltip content="Xem" target="#view" *ngIf="checkToolbar('VIEW')">
                            <span id="view" (click)="clickRecord(data, 'view')">
                              <i class="fa fa-eye view" aria-hidden="true"></i>
                            </span>
                          </ejs-tooltip>


                          <ejs-tooltip content="Sửa" target="#edit" *ngIf="checkToolbar('EDIT')">
                            <span id="edit" (click)="clickRecord(data, 'edit')">
                              <i class="fa fa-pencil-square-o edit" aria-hidden="true"></i>
                            </span>
                          </ejs-tooltip>

                          <ejs-tooltip content="Xóa" target="#delete" *ngIf="checkToolbar('DELETE')">
                            <span id="delete" (click)="clickRecord(data, 'delete')">
                              <i class="fa fa-trash delete" aria-hidden="true"></i>
                            </span>
                          </ejs-tooltip>
                        </div>
                      </div>
                    </ng-template>
                  </e-column>
                </e-columns>
              </ejs-grid>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  </div>
  
<!-- CONFIRM DELETE ONE MODAL-->
<app-confirm-modal id="confirm-delete-one-modal"  class="modal">
  <div class="modal-body client-modal-body">
    <span class="client-ico-exclamation-triangle"><i class="fa fa-exclamation-triangle"></i>
    </span>  
    <span style="font-size: 14px;">&nbsp;Bạn có chắc chắn muốn xóa Trạm kiểm soát <b style="color:red">
        {{ modelDelete && modelDelete.checkpoint_name ? modelDelete.checkpoint_name : ""}}</b>&nbsp;này không?
    </span> 
  </div>
  <div class="modal-footer client-modal-footer">
    <button class="btn btn-primary m-r-8 client-btn-default" (click)="confirmDeleteOne('ok')">
      Đồng ý
    </button>
    <button class="btn btn-default client-btn-default" (click)="confirmDeleteOne('cancel')">
      Hủy
    </button>
  </div>
</app-confirm-modal>