<div class="app-main-content">
  <div class="app-container">
    <div class="app-content">
      <div class="card card-content">
        <div class="card-main-header">
          <img src="/assets/images/plus.png" />
          <span class="card-main-title" *ngIf="flagState === 'new'">THÊM MỚI NHÓM QUYỀN NGƯỜI DÙNG</span>
          <span class="card-main-title" *ngIf="flagState === 'edit'">SỬA NHÓM QUYỀN NGƯỜI DÙNG</span>
          <span class="card-main-title" *ngIf="flagState === 'view'">XEM NHÓM QUYỀN NGƯỜI DÙNG</span>
        </div>
        <div class="card-main-content">
          <form name="editForm" [formGroup]="editForm" novalidate>
            <div class="row">
              <div class="col-sm-6">
                <div class="info">
                  <h4 class="card-title">Thông tin chung</h4>
                </div>
                <div class="row">
                  <!-- Mã -->
                  <div class="col-sm-12">
                    <div class="form-group">
                      <div class="e-float-input">
                        <input type="text" id="code" name="code" formControlName="code" [(ngModel)]="model.code" />
                        <span class="e-float-line"></span>
                        <label class="e-float-text required" for="code">Mã nhóm quyền</label>
                        <span class="input-error" *ngIf="
            editForm.get('code').hasError('required') &&
            !editForm.get('code').untouched
          ">
                          Trường Mã nhóm quyền bắt buộc nhập
                        </span>
                        <span class="input-error" *ngIf="
            editForm.get('code').hasError('maxlength') &&
            !editForm.get('code').untouched
          ">
                          Mã nhóm quyền không được vượt quá 255 ký tự
                        </span>
                      </div>
                    </div>
                  </div>

                  <!-- Tên -->
                  <div class="col-sm-12">
                    <div class="form-group">
                      <div class="e-float-input">
                        <input type="text" id="name" name="name" formControlName="name" [(ngModel)]="model.name" />
                        <span class="e-float-line"></span>
                        <label class="e-float-text required" for="name">Tên nhóm quyền</label>
                        <span class="input-error" *ngIf="
            editForm.get('name').hasError('required') &&
            !editForm.get('name').untouched
          ">
                          Trường Tên nhóm quyền bắt buộc nhập
                        </span>
                        <span class="input-error" *ngIf="
            editForm.get('name').hasError('maxlength') &&
            !editForm.get('name').untouched
          ">
                          Tên nhóm quyền không được vượt quá 255 ký tự
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="col-sm-12">
                    <div class="form-group">
                      <div class="e-float-input">
                        <textarea type="text" id="description" name="description" formControlName="description"
                          [(ngModel)]="model.description" rows="3"></textarea>
                        <span class="e-float-line"></span>
                        <label class="e-float-text" for="description">Mô tả nhóm quyền</label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="info">
                  <h4 class="card-title">Phân quyền</h4>
                </div>
                <div class="col-sm-12 treeview">
                  <div id='treeparent'>
                    <div id='treeparent'>
                      <div id='treeparent'>
                        <ejs-treeview #tree id='treeelement' [fields]='fieldOrg' [showCheckBox]='true'
                          (nodeSelected)='nodeSelected($event)'></ejs-treeview>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12 text-right mt-3" *ngIf="flagState != 'view'">
                <button class="back__btn" (click)="back()">Quay lại</button>
                <button class="save__btn" (click)="saveData()" *ngIf="flagState !== 'view'">Lưu thông tin</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
