<div class="app-main-content">
  <div class="app-container">
    <div class="app-toolbar">
      <div class="card card-content">
        <div class="card-main-header">
          <img src="/assets/images/list-icon.png" />
          <span class="card-main-title">DANH SÁCH QUẬN/HUYỆN</span>
        </div>

        <div class="row full-width">
          <h5 class="title">Tìm kiếm</h5>
          <div class="card card-content-design">
            <div class="main-toolbar">
              <div class="row">
                <div class="col-sm-11 p-n custom-btn-toolbar" style="padding-right: 5px !important">
                  <!-- Tiêu đề nội dung  -->
                  <div class="form-group mgl-1">
                    <div class="e-float-input">
                      <input class="searchText" type="text" id="text" name="text" [placeholder]="'Nhập mã, tên quận/huyện'"
                        [(ngModel)]="search.name" [ngModelOptions]="{ standalone: true }"
                        (keypress)="searchListEnter($event)" />
                        <label class="e-float-text" for="text">Mã, tên quận huyện</label>
                      </div>
                  </div>
                  <!-- Tỉnh thành -->
                  <div class="form-group mgl-1">
                    <div class="e-float-input width-90">
                      <ejs-dropdownlist id="province_id" [dataSource]="lstProvinces" [fields]="fields" [popupWidth]="200"
                        [(ngModel)]="search.province_id" [placeholder]="" [ngModelOptions]="{ standalone: true }"
                        [allowFiltering]="true" (filtering)="onFiltering($event, lstProvinces)" [showClearButton]="true"
                        placeholder="Tỉnh thành" (ngModelChange)="
                            changeModel(search.province_id)
                          ">
                      </ejs-dropdownlist>
                      <label class="e-float-text" for="province_id">Tỉnh/Thành phố</label>
                    </div>
                  </div>
                  <!-- Button Tìm kiếm -->
                </div>
                <div class="col-sm-1 p-n">
                  <div class="form-group">
                    <div class="e-float-input m-t-0 bg">
                      <button class="btn btn-search" (click)="getListData()">
                        Tìm kiếm
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="row full-width">
          <div class="col-sm-12 main-toolbar">
            <button id="add" class="btn-action {{ itemButton.iconColorClass }}" (click)="clickToolbar(itemButton)"
              *ngFor="let itemButton of toolbar" [disabled]="itemButton.isDisable === true">
              <span><i class="fa {{ itemButton.prefixIcon }}"></i></span>
              <span class="text-center">{{ itemButton.text }}</span>
            </button>
          </div>
        </div>
        <div class="card-main-content">
          <div class="list-grid">
            <ejs-grid #overviewgrid id="overviewgrid" [dataSource]="data | async" rowHeight="45" headerHeight="52"
              [allowPaging]="true" [pageSettings]="configs.pageSettings" [enableHover]="true"
              [height]="configs.height()" [allowSorting]="false" allowResizing="true" [locale]="configs.currentLang"
              [allowSelection]="true" [showColumnChooser]="false" [selectionSettings]="configs.selectionSettings"
              [allowFiltering]="false" (dataStateChange)="dataStateChange($event)"
              [filterSettings]="configs.filterSettings" [editSettings]="configs.editSettings"
              (rowSelecting)="setButtonStatus($event)" (rowDeselecting)="setButtonStatus($event)" [allowTextWrap]="true"
              [textWrapSettings]="configs.wrapSettings">
              <e-columns>
                <e-column field="id" [showInColumnChooser]="false" [visible]="false" headerText="ID" width="130"
                  [isPrimaryKey]="true" [allowEditing]="false"></e-column>
                <e-column headerTextAlign="Center" textAlign="Center" headerText="STT" [allowEditing]="false"
                  width="70">
                  <ng-template #template let-data>
                    <span>{{ formatStt(data.index) }}</span>
                  </ng-template>
                </e-column>
                <e-column field="code" textAlign="Left" headerTextAlign="Center" headerText="Mã" width="110">
                </e-column>
                <e-column field="name" textAlign="Left" headerTextAlign="Center" headerText="Tên quận huyện" width="110">
                </e-column>
                <e-column field="province_name" textAlign="Left" headerTextAlign="Center" headerText="Tên thành phố" width="110">
                </e-column>
                <e-column field="description" textAlign="Center" clipMode="EllipsisWithTooltip" headerTextAlign="Center"
                  headerText="Ghi chú" width="140">
                </e-column>
                <e-column field="tools" textAlign="Left" headerTextAlign="Center" headerText="Thao tác"
                  headerTextAlign="Center" width="120">
                  <ng-template #template let-data>
                    <div class="row">
                      <div class="col-sm-12 custom-tools">
                        <ejs-tooltip content="Sửa" target="#edit" *ngIf="checkToolbar('EDIT')">
                          <span id="edit" (click)="clickRecord(data, 'edit')">
                            <i class="fa fa-pencil-square-o edit" aria-hidden="true"></i>
                          </span>
                        </ejs-tooltip>
                        <ejs-tooltip content="Xóa" target="#delete" *ngIf="checkToolbar('DELETE')">
                          <span id="delete" (click)="clickRecord(data, 'delete')">
                            <i class="fa fa-trash delete" aria-hidden="true"></i>
                          </span>
                        </ejs-tooltip>
                      </div>
                    </div>
                  </ng-template>
                </e-column>
              </e-columns>
            </ejs-grid>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- CONFIRM DELETE ONE MODAL-->
<app-confirm-modal id="confirm-delete-one-modal"  class="modal">
  <div class="modal-body district-modal-body">
    <span class="district-ico-exclamation-triangle"><i class="fa fa-exclamation-triangle"></i>
    </span>  
    <span style="font-size: 14px;">&nbsp;Bạn có chắc chắn muốn xóa Huyện <b style="color:red">
        {{ modelDelete && modelDelete.name ? modelDelete.name : ""}}</b>&nbsp;này không?
    </span> 
  </div>
  <div class="modal-footer district-modal-footer">
    <button class="btn btn-primary m-r-8 district-btn-default" (click)="confirmDeleteOne('ok')">
      Đồng ý
    </button>
    <button class="btn btn-default district-btn-default" (click)="confirmDeleteOne('cancel')">
      Hủy
    </button>
  </div>
</app-confirm-modal>
