#container {
  position: relative;
  overflow-x: hidden;
  width: 220px;
}
#grid {
  display: flex;
  height: 150;
}

.overlay-left {
  position: absolute;
  display: inline-block;
  display: grid;
  // width: 7rem;
  height: 100%;
  top: 0%;
  left: 0;
  bottom: 0;
  background-color: white;
  z-index: 1;
  cursor: pointer;
}

.overlay-right {
  position: absolute;
  display: inline-block;
  display: grid;
  // width: 7rem;
  height: 100%;
  top: 0%;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 1;
  cursor: pointer;
}

#grid > div {
  background-color: gray;
}

#slider-buttons-left {
  position: absolute;
  z-index: 1000;
  top: 35%;
  float: left;
  cursor: pointer;
  font-size: 250%;
  color: gray;
  left: 5px;
  &:focus {
    color: #4285F4;
  }
}

#slider-buttons-right {
  position: absolute;
  top: 35%;
  z-index: 1000;
  float: right;
  cursor: pointer;
  font-size: 250%;
  color:  gray;
  right: 5px;
}
.image-cropper-ngfor {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .a{
    width: 100%;
    height: 100%;
  }
}

.image-cropper img {
  width: auto !important;
  max-width: 220px !important;
  height: 100%;
  display: block;
  margin: 0 auto;
}
