app-sidebar-item {
    .submenu-list {
        margin: 5px 0 0 0;
        list-style: none;
        padding: 5px 5px 10px 40px;

        .submenu-item {
            padding: 10px 0;

            .submenu-link {
                color: black;
                text-decoration: none;

                .pre-icon {
                    margin-right: 6px;
                    font-size: 8px;
                }

                .sub-icon {
                    float: right;
                }
            }

            .submenu-link.active {
                .pre-icon {
                    color: red;
                }
            }

            .submenu-link:hover,
            .submenu-link.active-exac {
                color: red;
                font-weight: bolder;
            }

            .submenu-link[aria-expanded="false"] {
                .sub-icon::after {
                    content: "\f0da";
                    font-family: "cms-font", sans-serif !important;
                    display: inline;
                    text-align: right;
                    padding-right: 20px;
                }
            }

            .submenu-link[aria-expanded="true"] {
                .sub-icon::after {
                    content: "\f0d7";
                    font-family: "cms-font", sans-serif !important;
                    display: inline;
                    text-align: right;
                    padding-right: 20px;
                }
            }
        }
    }
}