accompanying-vehicle-manage-modals{
  
  .app-modal {
    position: fixed; 
    top: 0;
    right: 0;
    bottom: 150px;
    left: 0;
    z-index: 904;
    overflow: auto;
  }
  
  .app-modal-body {
      background: #fff;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border: 1px solid #C2BCBC;
      width: 80%;
      margin: 0 auto;
      margin-top: 4%;
  }
  
  .app-modal-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: 0.75;
    z-index: 903;
  }

  .header{
    color: #fff;
    border-bottom: 1px solid #C2BCBC;
    background: no-repeat padding-box #4285F4 !important;
    padding: 5px 0px;
    .icon{
      &:hover {
        color: #000000;
        cursor: pointer;
      }
    }
  }
  
  .btn-remove{
    display: block;
    float: right;
  }

  .btnConfirmRepass {
    margin-top: 10px !important;
    display: flex;
    justify-content: flex-end !important;
    margin-top: 20px !important;
  }
  // Add css for accompanying-person-manage-modals - end

  .back__btn {
    padding: 1px 35px;
    background: no-repeat padding-box grey;
    text-align: left;
    font: normal normal bold 14px/30px Roboto !important;
    letter-spacing: 0;
    color: #fff;
    border: none;
    border-radius: 3px !important;
    opacity: 1;
    margin-right: 10px;

    &:focus {
        outline: none;
    }
  }

  .save__btn {
    padding: 1px 35px;
    background: no-repeat padding-box #4285F4;
    text-align: left;
    font: normal normal bold 14px/30px Roboto !important;
    letter-spacing: 0;
    color: #fff;
    border: none;
    border-radius: 3px !important;
    opacity: 1;

    &:focus {
        outline: none;
    }
  }

  .e-checkbox-wrapper .e-frame, .e-css.e-checkbox-wrapper .e-frame{
    width: 25px !important;
    height: 25px !important;
  }

  .e-checkbox-wrapper .e-check, .e-css.e-checkbox-wrapper .e-check{
    font-size: 15px !important;
  }

  .e-checkbox-wrapper .e-frame, .e-css.e-checkbox-wrapper .e-frame{
    line-height: 25px !important;
  }
  label.required:after {
    color: red;
    content: " *";
}
}

app-confirm-modal .app-modal .app-modal-body {
  padding: 15px;
  background: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  margin: 15% 39%;
  position: relative;
  width: 35rem !important;
}

.accompanying-vehicle-manage-modals-ico-exclamation-triangle
{
  font-size: x-large !important;
  color: red;
  margin-right: 6px;
}
.accompanying-vehicle-manage-modals-modal-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center !important;
  padding:0.75rem 0rem 0rem 0rem  ;
}
.accompanying-vehicle-manage-modals-btn-default {
  height: 35px!important;
  font-size: 14px!important;
}
