<div class="app-main-content">
  <div class="app-container">
    <div class="app-content">
      <div class="card card-content">
        <div class="card-main-header">
          <img src="/assets/images/plus.png" />
          <span class="card-main-title">THÔNG TIN CÁ NHÂN</span>
        </div>
        <div class="card-main-content">
          <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-2 text-center flex-img-center">
              <div class="image" style="position: relative">
                <img style="width: 150px !important; height: 150px;margin-top: 30px;" class="full-width" alt="addPicture" [src]="avatar"
                  onclick="javascript:document.getElementById('avatar').click();" />
                <span *ngIf="
                    avatar &&
                    avatar !== '/assets/images/addPicture.png' 
                  " style="
                    position: absolute;
                    top: 30px;
                    right: 65px;
                    cursor: pointer;
                  "><i class="fa fa-remove" (click)="removeImage('avatar')"></i></span>
                <label class="e-float-text" style="position: relative; top: 50px !important" for="">Ảnh đại
                  diện</label>
              </div>
              <div class="custom-file mt-15" style="display: none">
                <input style="font-size: 13px" #file type="file" id="avatar" accept=".png, .jpg, .jpe"
                  (change)="uploadAvatar(file.files)" style="display: none" />
              </div>
            </div>
            <div class="col-sm-4">
              <form name="editForm" [formGroup]="editForm" novalidate>
                <div class="form-group">
                  <div class="e-float-input">
                    <input type="text" id="full_name" name="full_name" formControlName="full_name" class="form-control"
                      [(ngModel)]="model.full_name">
                    <label class="e-float-text required" for="full_name">Họ và tên</label>
                    <span class="input-error" *ngIf="
                        editForm.get('full_name').hasError('required') &&
                        !editForm.get('full_name').untouched
                      ">
                      Trường Họ và tên bắt buộc nhập
                    </span>
                  </div>
                </div>

                <div class="form-group">
                  <div class="e-float-input">
                    <input type="text" id="phone" name="phone" formControlName="phone" class="form-control"
                      [(ngModel)]="model.phone" maxlength="10">
                    <label class="e-float-text required" for="phone">Số điện thoại</label>
                    <span class="input-error" *ngIf="
                        editForm.get('phone').hasError('required') &&
                        !editForm.get('phone').untouched
                      ">
                      Trường Số điện thoại bắt buộc nhập
                    </span>
                    <span class="input-error" *ngIf="
                        editForm.get('phone').hasError('incorrect') &&
                        !editForm.get('phone').untouched
                      ">
                      Vui lòng nhập đúng Số điện thoại
                    </span>
                  </div>
                </div>

                <div class="form-group">
                  <div class="e-float-input">
                    <input type="text" id="email" name="email" formControlName="email" class="form-control"
                      [(ngModel)]="model.email">
                    <label class="e-float-text" for="email">Email</label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="e-float-input">
                    <input type="text" id="address" name="address" formControlName="address" class="form-control"
                      [(ngModel)]="model.address">
                    <label class="e-float-text" for="address">Địa chỉ</label>
                  </div>
                </div>
                <div class="info-pr row m-t-15">
                  <div class="col-sm-3"></div>
                  <div class="col-sm-9 text-right">
                    <button class="save__btn" (click)="saveData()">Lưu thông tin</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>