<link
    href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i&display=swap&subset=vietnamese"
    rel="stylesheet">
<div id="forgot-password" fxLayout="column">
    <div id="forgot-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">
        <div id="forgot-password-form" [class.step3]="step && step == 3">
            <div class="title" *ngIf="step && step == 1">Quên mật khẩu</div>
            <div class="title" *ngIf="step && step == 2">Xác thực email</div>
            <div class="title" *ngIf="step && step == 3">Cập nhật mật khẩu mới</div>
            <form name="forgotPasswordForm" [formGroup]="forgotPasswordForm" novalidate>
                <div class="form-group" style="margin-bottom: 0 !important;" *ngIf="step == 1">
                    <div class="e-float-input">
                        <input type="text" id="username" name="username" formControlName="username" class="form-control"
                            [(ngModel)]="model.username" maxlength="255">
                        <label class="e-float-text required" for="username">Email</label>
                        <span class="input-error" style="position: absolute;"
                            *ngIf="forgotPasswordForm.get('username').hasError('required') && !forgotPasswordForm.get('username').untouched">
                            Email không được bỏ trống!
                        </span>
                        <span class="input-error" style="position: absolute;"
                            *ngIf="forgotPasswordForm.get('username').hasError('email') && !forgotPasswordForm.get('username').untouched">
                            Địa chỉ email không đúng định dạng!
                        </span>
                    </div>
                </div>
                <div class="form-group" style="margin-bottom: 0 !important;" *ngIf="step == 2">
                    <div class="e-float-input">
                        <input type="text" id="otp_code" name="otp_code" formControlName="otp_code" class="form-control"
                            [(ngModel)]="model.otp_code" maxlength="20">
                        <label class="e-float-text required" for="otp_code">Mã OTP</label>
                        <span class="input-error" style="position: absolute;"
                            *ngIf="forgotPasswordForm.get('otp_code').hasError('required') && !forgotPasswordForm.get('otp_code').untouched">
                            Mã OTP không được bỏ trống!
                        </span>
                    </div>
                    <a class="text-right" style="position: absolute;right: 20px;bottom: -25px;"
                        (click)="resendOtp()">Gửi lại mã OTP</a>
                </div>
                <div class="form-group" style="margin-bottom: 0 !important;" *ngIf="step == 3">
                    <div class="e-float-input">
                        <input [type]="togglePassword1 ? 'text' : 'password'" id="password" id="password"
                            name="password" formControlName="password" class="form-control" [(ngModel)]="model.password"
                            maxlength="20" (blur)="checkConfirmPassword()">
                        <label class="e-float-text required" for="password">Mật khẩu</label>
                        <span class="eye" (click)="togglePassword1 = !togglePassword1"><i class="fa"
                                [class.fa-eye]="!togglePassword1" [class.fa-eye-slash]="togglePassword1"></i></span>
                        <span class="input-error" style="position: absolute;"
                            *ngIf="forgotPasswordForm.get('password').hasError('required') && !forgotPasswordForm.get('password').untouched">
                            Mật khẩu không được bỏ trống
                        </span>
                        <span class="input-error" style="position: absolute;"
                            *ngIf="forgotPasswordForm.get('password').hasError('pattern') && !forgotPasswordForm.get('password').untouched">
                            Mật khẩu không đúng định dạng. Ít nhất 8 ký tự bao gồm: Số, chữ hoa, chữ thường và
                            ký tự đặc biệt
                        </span>
                    </div>
                </div>
                <div class="form-group" style="margin-bottom: 0 !important;margin-top: 15px !important;"
                    *ngIf="step == 3">
                    <div class="e-float-input">
                        <input [type]="togglePassword2 ? 'text' : 'password'" id="password" id="confirm_password"
                            name="confirm_password" formControlName="confirm_password" class="form-control"
                            [(ngModel)]="model.confirm_password" maxlength="20" (blur)="checkConfirmPassword()">
                        <label class="e-float-text required" for="confirm_password">Xác nhận mật khẩu</label>
                        <span class="eye" (click)="togglePassword2 = !togglePassword2"><i class="fa"
                                [class.fa-eye]="!togglePassword2" [class.fa-eye-slash]="togglePassword2"></i></span>
                        <span class="input-error" style="position: absolute;"
                            *ngIf="forgotPasswordForm.get('confirm_password').hasError('required') && !forgotPasswordForm.get('confirm_password').untouched">
                            Xác nhận mật khẩu không được bỏ trống
                        </span>
                        <span class="input-error" style="position: absolute;"
                            *ngIf="forgotPasswordForm.get('confirm_password').hasError('pattern') && !forgotPasswordForm.get('confirm_password').untouched">
                            Xác nhận mật khẩu không đúng định dạng. Ít nhất 8 ký tự bao gồm: Số, chữ hoa, chữ thường và
                            ký tự đặc biệt
                        </span>
                        <span class="input-error" style="position: absolute;"
                            *ngIf="forgotPasswordForm.get('confirm_password').hasError('incorrect') && !forgotPasswordForm.get('confirm_password').untouched">
                            Mật khẩu không trùng khớp! Bạn hãy kiểm tra lại!
                        </span>
                    </div>
                </div>
                <div class="form-button">
                    <div class="container">
                        <div class="row register-form">
                            <button class="button return">
                                <a class="link" [routerLink]="'/auth/login'"> Quay lại</a>
                            </button>
                            <button type="button" class="button continue" (click)="continue(false)" *ngIf="step && step < 3">
                                <a class="continue">
                                    Thực hiện
                                </a>
                            </button>
                            <button type="button" class="button continue" (click)="continue(true)"
                                *ngIf="step &&  step == 3">
                                <a class="continue">
                                    Hoàn thành
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </form>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
            </div>

        </div>

    </div>

</div>
