app-action-edit {
  
}
app-confirm-modal .app-modal .app-modal-body {
    padding: 15px;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin: 15% 39%;
    position: relative;
    width: 35rem !important;
  }
  .action-edit-modal-body {padding: 0.5rem !important;}
  .action-edit-ico-exclamation-triangle
  {
    font-size: x-large !important;
    color: #ff9800;
    margin-right: 6px;
  }
  .action-edit-modal-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center !important;
    padding:0.75rem 0rem 0rem 0rem  ;
  }
  .action-edit-btn-default {
    height: 35px!important;
    font-size: 14px!important;
  }
  